<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>POST - Poshan Scheme</title>
  <link rel="stylesheet" href="{% static 'home/assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="{% static 'home/assets/css/styles.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
</head>

<body>
  <nav
    class="navbar navbar-light navbar-expand-lg fixed-top bg-white d-flex flex-row flex-shrink-1 align-items-start clean-navbar"
    style="background: rgba(255,255,255,0.23);">
    <div class="container"><a class="navbar-brand logo" href="#" style="padding: -15px 0px;">
        <div>
          <div class="col"><img style="width: 73px;height: 68px;"
              src="{% static 'home/assets/img/images/logo%20transparent%202%202.png' %}"><span
              style="font-family: 'Alfa Slab One', serif;font-size: 30px;">POST</span></div>
        </div>
      </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
          class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="btn btn-primary" role="button" href="{% url 'accounts:login' %}">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="page landing-page">
    <section>
      <div class="carousel slide" data-bs-ride="carousel" id="carousel-2"
        style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;), rgba(9,162,255,0.85);">
        <div class="carousel-inner">
          <div class="carousel-item active"><img class="w-100 d-block"
              src="{% static 'home/assets/img/images/akshaya-patra-g63afafd7e_1920.jpg' %}" alt="Slide Image"
              style="opacity: 0.93;"></div>
          <div class="carousel-item"><img class="w-100 d-block"
              src="{% static 'home/assets/img/images/good-food-make-children-smart-and-healthy.jpg' %}" alt="Slide Image"></div>
          <div class="carousel-item"><img class="w-100 d-block"
              src="{% static 'home/assets/img/images/nutritious-mid-day-meal1.jpg' %}" alt="Slide Image"></div>
          <div class="carousel-item"><img class="w-100 d-block d-inline-block"
              src="{% static 'home/assets/img/images/let-ensure-them-a-nutritious-meal.jpg' %}" alt="Slide Image"></div>
        </div>
        <div>
          <!-- Start: Previous --><a class="carousel-control-prev" href="#carousel-2" role="button"
            data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span
              class="visually-hidden">Previous</span></a><!-- End: Previous -->
          <!-- Start: Next --><a class="carousel-control-next" href="#carousel-2" role="button"
            data-bs-slide="next"><span class="carousel-control-next-icon"></span><span
              class="visually-hidden">Next</span></a><!-- End: Next -->
        </div>
        <ol class="carousel-indicators">
          <li data-bs-target="#carousel-2" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carousel-2" data-bs-slide-to="1"></li>
          <li data-bs-target="#carousel-2" data-bs-slide-to="2"></li>
          <li data-bs-target="#carousel-2" data-bs-slide-to="3"></li>
        </ol>
      </div>
    </section>
    <section class="clean-block clean-info dark"
      style="background: linear-gradient(#ffba80, rgb(255,255,255) 51%, rgb(133,225,198));">
      <!-- Start: Stats Color -->
      <div class="container py-4 py-xl-5">
        <div class="text-center text-white-50 bg-primary border rounded border-0 p-3">
          <div class="row row-cols-2 row-cols-md-4">
            <div class="col">
              <div class="p-3">
                <h4 class="display-5 fw-bold text-white mb-0">1123+</h4>
                <p class="mb-0" style="color: rgba(255,255,255,0.9);">Registered Schools</p>
              </div>
            </div>
            <div class="col">
              <div class="p-3">
                <h4 class="display-5 fw-bold text-white mb-0">45+</h4>
                <p class="mb-0" style="color: rgba(255,255,255,0.9);">Meals Served</p>
              </div>
            </div>
            <div class="col">
              <div class="p-3">
                <h4 class="display-5 fw-bold text-white mb-0">675</h4>
                <p class="mb-0" style="color: rgba(255,255,255,0.9);">Schools Reported</p>
              </div>
            </div>
            <div class="col">
              <div class="p-3">
                <h4 class="display-5 fw-bold text-white mb-0">809</h4>
                <p class="mb-0" style="color: rgba(255,255,255,0.9);">Schools Not Reported<br></p>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End: Stats Color -->
      <div class="container">
        <div class="block-heading">
          <h2 class="text-info" style="font-family: 'Alfa Slab One', serif;color: rgb(0,0,0);">POST</h2>
          <p>POST(POshan Scheme Tracker) is our solution to track the nutrition intake of students who are provided mid
            day meals under the PM POSHAN Scheme.</p>
        </div>
        <div class=" row align-items-center">
          <div class="col-md-6"><img class="img-fluid rounded-circle" data-bss-hover-animate="pulse"
              src="{% static 'home/assets/img/images/loginimage%201%201.png' %}" style="width: 275px;height: 225.625px;"></div>
          <div class="col-md-6">
            <h3 class="text-center" style="font-family: ABeeZee, sans-serif;">PM POSHAN Scheme</h3>
            <div class="getting-started-info">
              <p class="text-start" style="background: rgba(255,255,255,0);"><br><strong><span
                    style="color: rgb(0, 0, 0); ">PM POSHAN (Pradhan Mantri
                    POshan SHAkti Nirman) Scheme </span></strong><span
                  style="color: rgb(0, 0, 0);">is</span><strong><span
                    style="color: rgb(0, 0, 0);">&nbsp;</span></strong><span
                  style="color: rgb(0, 0, 0);">for providing one hot cooked meal
                  in Government and Government-aided schools from 2021-22 to 2025-26, earlier known as ‘National
                  Programme for Mid-Day Meal in Schools’ popularly known as Mid-Day Meal Scheme. This is a
                  Centrally-Sponsored Scheme which covers all school children studying in Classes I-VIII in Government,
                  Government-Aided Schools. The scheme covers about 11.80 crore children studying in 11.20 lakh schools
                  across the country.&nbsp;</span><br></p>
            </div><button class="btn btn-outline-primary btn-lg" type="button" style="color: rgb(0,0,0);">Learn
              More&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </section><!-- Start: Articles Cards -->
    <div class="container py-4 py-xl-5">
      <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
          <h2><strong>FEATURES</strong></h2>
          <p class="w-lg-50"></p>
        </div>
      </div>
      <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col">
          <div class="card" style="box-shadow: 8px 8px 8px rgba(33,37,41,0.48);"><img
              class="card-img-top w-100 d-block fit-cover" data-bss-hover-animate="pulse" style="height: 200px;"
              src="{% static 'home/assets/img/images/login%20image%203.png' %}">
            <div class="card-body p-4">
              <h4 class="card-title"><strong>MDM Tracking</strong><br></h4>
              <p class="card-text"><span style="color: rgb(142, 142, 142);">Real-time daily meal updates and tracking of
                  attendance and retention of students.</span><br></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="box-shadow: 8px 8px 8px rgba(33,37,41,0.48);"><img
              class="card-img-top w-100 d-block fit-cover" data-bss-hover-animate="pulse" style="height: 200px;"
              src="{% static 'home/assets/img/images/proper-hygiene-for-healthy-meal.jpg' %}">
            <div class="card-body p-4">
              <h4 class="card-title"><strong>Nutritional Requisite Tracking</strong><br></h4>
              <p class="card-text"><span style="color: rgb(142, 142, 142);">Tracking of physical health of students on
                  quarterly basis.</span><br></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="box-shadow: 8px 8px 8px rgba(33,37,41,0.48);"><img
              class="card-img-top w-100 d-block fit-cover" data-bss-hover-animate="pulse" style="height: 200px;"
              src="{% static 'home/assets/img/images/mid-day-meal-menu-g689041c66_1920.jpg' %}">
            <div class="card-body p-4">
              <h4 class="card-title"><strong>Calorie Tracking</strong><br></h4>
              <p class="card-text"><span style="color: rgb(142, 142, 142);">Using deep learning model to detect calories
                  and proteins through&nbsp;photographs.</span><br></p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End: Articles Cards -->
    <section class="clean-block features">
      <div class="container">
        <div class="block-heading">
          <h2 class="text-info"><strong>NOTIFICATIONS</strong></h2>
        </div>
        <div class="row justify-content-center">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div>
                  <div class="container mt-5">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="d-flex justify-content-between align-items-center breaking-news bg-white">
                          <!--                 <div class="d-flex flex-col flex-grow-1 flex-fill justify-content-center bg-danger py-2 text-white px-1 news"><span class="d-flex align-items-center">&nbsp;News</span></div> -->
                          <marquee class="news-scroll" behavior="scroll" direction="down" onmouseover="this.stop();"
                            onmouseout="this.start();"> <span class="dot"></span> <a href="#">Excepteur sint occaecat
                              cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a>
                            <br> <span class="dot"></span> <a href="#">Lorem ipsum dolor sit amet, consectetur
                              adipiscing elit, sed do eiusmod tempor incididunt ut </a> <br><span class="dot"></span> <a
                              href="#">Duis aute irure dolor in reprehenderit in voluptate velit esse </a><br><span
                              class="dot"></span> <a href="#">Excepteur sint occaecat cupidatat non proident, sunt in
                              culpa qui officia deserunt mollit anim id est laborum.</a> <br><span class="dot"></span>
                            <a href="#">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                              deserunt mollit anim id est laborum.</a>
                          </marquee>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <h4 class="card-title"></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="clean-block features">
      <div class="container text-center">
        <div class="row justify-content-center align-items-center">
          <div class="col"></div>
          <div class="col align-self-center">
            <h2 class="text-info"><strong>TWEETS</strong></h2>
            <div class="text-center block-heading"></div>
            <div>
              <blockquote class="twitter-tweet" data-lang="en">
                <p lang="en" dir="ltr">Hon&#39;ble Education Minister Shri <a
                    href="https://twitter.com/dpradhanbjp?ref_src=twsrc%5Etfw">@dpradhanbjp</a> was warmly received by
                  Hon&#39;ble HC <a href="https://twitter.com/VohraManpreet?ref_src=twsrc%5Etfw">@VohraManpreet</a> and
                  Hon&#39;ble CG Mr. Manish Gupta on his arrival at Sydney. <br><br>He is on his 4-day visit to
                  Australia to deepen cooperation in education, research and skill development. <a
                    href="https://t.co/TNeAi6POb1">pic.twitter.com/TNeAi6POb1</a></p>&mdash; Ministry of Education
                (@EduMinOfIndia) <a
                  href="https://twitter.com/EduMinOfIndia/status/1561342663747862533?ref_src=twsrc%5Etfw">August 21,
                  2022</a>
              </blockquote>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </section>
  </main><!-- Start: Footer Dark -->
  <footer class="page-footer dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h5>About us</h5>
          <ul>
            <li><a href="#">PM POSHAN Scheme</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>Support</h5>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Help desk</a></li>
            <li><a href="#">Forums</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>Legal</h5>
          <ul>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <p>© Merakii 2022&nbsp;</p>
    </div>
  </footer><!-- End: Footer Dark -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
  <script src="{% static 'home/assets/js/script.min.js' %}"></script>
</body>

</html>