{% extends 'talukas/base.html' %} 

{% block content %}


<div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Register a new School!</h4>
                        </div>
                        <form class="user">
                            <div class="mb-3"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="School Name" name="first_name"></div>
                            <div class="mb-3"><input class="form-control form-control-user" type="text" id="exampleFirstName-1" placeholder="Username" name="first_name"></div>
                            <div class="mb-3"><input class="form-control form-control-user" type="text" id="exampleFirstName-7" placeholder="Address Line 1" name="first_name"></div>
                            <div class="mb-3"><input class="form-control form-control-user" type="text" id="exampleFirstName-6" placeholder="Address Line 2" name="first_name"></div>
                            <div class="row mb-3">
                                <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="exampleFirstName-4" placeholder="District" name="first_name"></div>
                                <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="exampleFirstName-5" placeholder="Pincode" name="last_name"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="exampleFirstName-2" placeholder="State" name="first_name"></div>
                                <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="exampleFirstName-3" placeholder="India" name="last_name" disabled=""></div>
                            </div>
                            <div class="mb-3"><input class="form-control form-control-user" type="email" id="exampleInputEmail-1" aria-describedby="emailHelp" placeholder="Email Address" name="email"></div>
                            <div class="row mb-3">
                                <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Password" name="password"></div>
                                <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Repeat Password" name="password_repeat"></div>
                            </div><button class="btn btn-primary d-block btn-user w-100" type="submit">Register School</button>
                            <hr>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}