<!DOCTYPE html> {% load static %}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Login - POSHAN</title>
    <link rel="stylesheet" href="{% static 'accounts/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" />
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="
                      background: url('{% static 'accounts/img/loginimage.jpg' %}')
                        center / cover;
                    "></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Welcome Back!</h4>
                                    </div>
                                    <form class="user" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="mb-3">{{form.username}}</div>
                                        <div class="mb-3">{{form.password}}</div>
                                        <div class="mb-3">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check">
                                                    <input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1" /><label class="form-check-label custom-control-label" for="formCheck-1">Remember Me</label
                            >
                          </div>
                        </div>
                      </div>
                      <button
                        class="btn btn-primary d-block btn-user w-100"
                        type="submit"
                      >
                        Login
                      </button>
                      <input type="hidden" name="next" value="{{ next }}" />
                      <hr />
                    </form>
                    <div class="text-center">
                      <a class="small" href="{% url 'accounts:password_reset' %}">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                      <a class="small" href="#">Create an Account!</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'accounts/js/script.min.js' %}"></script>
    <script>
      var form_fields = document.getElementsByTagName("input");
      form_fields[1].placeholder = "Username";
      form_fields[1].className += " form-control form-control-user";

      form_fields[2].placeholder = "Password";
      form_fields[2].className += " form-control form-control-user";
    </script>
  </body>
</html>