<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>
        {% block title %}
        Dashboard
        {% endblock title %}
    </title>
    <!-- Head -->
    {% block head %}

    {% endblock head %}
    <!-- Style -->
    {% block style %}

    {% endblock style %}
</head>

<body>
    <!-- Body -->
    {% block body %}
    This is Base FILE.



    {% endblock body %}


    <!-- Script -->
    {% block script %}
    <script>    </script>
    {% endblock script %}
</body>

</html>