{% extends "districts/base.html" %}

<!-- load static -->
{% load static %}

<!-- Title BLOCK -->
{% block title %}
Register School
{% endblock title %}

<!-- HEAD BLOCK -->
{% block head %}

{% endblock head %}

<!-- STYLE BLOCK -->
{% block style %}

{% endblock style %}


<!-- Body BLOCK -->
{% block body %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>



{% endblock body %}

<!-- Script BLOCK -->

{% block script %}
<script>





</script>

{% endblock script %}