{% extends "districts/base.html" %}

<!-- load static -->
{% load static %}

<!-- Title BLOCK -->
{% block title %}
Register School
{% endblock title %}

<!-- HEAD BLOCK -->
{% block head %}

{% endblock head %}

<!-- STYLE BLOCK -->
{% block style %}

{% endblock style %}


<!-- Body BLOCK -->
{% block body %}
<div class="container-fluid">
    <form>
        <!-- Start: Registration Form -->
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="p-5">
                    <div class="text-center">
                        <h4 class="text-dark mb-4">Register a School!</h4>
                        <hr>
                    </div>
                    <!-- FORM -->
                    <form method="post">
                        {% load formcss %}
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% for field in form %}
                        <p>
                        <div class="form-group">
                            <label for="{{field.id_for_label}}">{{ field.label }}
                                {% if field.field.required %}
                                <span style="color: red ;">*</span>
                                {% endif %}
                            </label>
                            {{ field|addclass:"form-control" }}
                            {% if field.errors %}
                            <div class="alert alert-danger alert-sm form_alert">{{ field.errors }}</div>
                            {% endif %}
                            <small id="helpId" class="text-muted">{{ field.help_text }}</small>
                        </div>
                        </p>
                        {% endfor %}
                        <!-- BUTTON -->
                        <p>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary form-control">Submit</button>
                        </div>
                        </p>
                    </form>
                    <!-- END FORM -->

                </div>
            </div>
        </div><!-- End: Registration Form -->
    </form>
</div>

{% endblock body %}

<!-- Script BLOCK -->

{% block script %}
<script>





</script>

{% endblock script %}