.forgot-pass,
.enter-forget-pass {
    background-color: var(--primary-color);
    min-height: 100vh;
}

.forgot-pass .container,
.enter-forget-pass .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forgot-pass .container .info {
    font-size: 0.8rem;
    margin: 1rem 0;
    color: rgb(143, 143, 143);
}

.forgot-pass .container #reset-btn,
.enter-forget-pass .container #reset-btn {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 0.8rem;
    cursor: pointer;
    margin: 0 auto;
    width: 50%;
    margin-top: 1.2rem;
}

.forgot-pass .container #reset-btn:hover,
.enter-forget-pass .container #reset-btn:hover {
    background-color: #3b5458;
}