{% extends 'schools/base.html' %} {% block title %}ADD Attendence{% endblock title %} 
{% block content %} {% load static %} {% load crispy_forms_tags %}

<div class="container-fluid">
    <h3 class="text-dark mb-4">Attendence - {{thisclass.class_name}}  ({{date}})</h3>
</div>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-body">
            <form action="" method="post">
                <div class="container">
                    <div class="row">
                        {% csrf_token %} {% for student, active in new_record %}

                        <div class="col-md-6" style="padding: 10px;">
                            <input
                                name="{{student.pk}}"
                                type="checkbox"
                                class="btn-check"
                                id="btn-check-{{student.pk}}"
                                autocomplete="off"
                                {{active}}
                            />
                            <label
                                style="width: 100%;"
                                class="btn btn-outline-primary"
                                for="btn-check-{{student.pk}}"
                                >{{student.first_name}} {{student.last_name}} - {{student.gr_no}}</label
                            >
                        </div>

                        {% endfor %}
                    </div>
                </div>
                <br>
            
                <p>
                    <button style="width: 100%;" type="submit" class="btn btn-success">Submit</button>
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock content %}