{% extends 'schools/base.html' %}

{% block title %}ADD Attendence{% endblock title %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <h3 class="text-dark mb-4">Attendence</h3>
</div>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {% for student, active in new_record %}
                <p>
                    <input name="{{student.pk}}" type="checkbox" class="btn-check" id="btn-check-{{student.pk}}" autocomplete="off" {{active}} />
                    <label class="btn btn-outline-danger" for="btn-check-{{student.pk}}">{{student.first_name}} - {{student.pk}}</label>



                </p>

                {% endfor %}
                <p>
                    <button type="submit" class="btn btn-success">Submit</button>
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
