<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLass Details</title>
</head>

<body>
    <h1>
        This is class detail page.
    </h1>
    <h3><a href="{% url 'home' %}">GO HOME</a></h3>
    <div class="container">
        {{class}} {% for student in student_list %}
        <p> {{student}} </p>{% endfor %}



    </div>

</body>

</html>