{% extends "schools/base.html" %}

{% block extrastyle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">

{% endblock extrastyle %}

{% block content %}




<div class="container">

  <p>
    <a name="" id="" class="btn btn-primary" href="{% url 'schools:update_class' pk=class.id %}" role="button">
      Update Class
    </a>
  </p>
  <div class="card shadow-lg">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-sm table-striped" width="100%" id="student-table">
          <thead>
            <tr style="text-align: center;">
              <th>First Name</th>
              <th>Last Name</th>
              <th>Gr no.</th>
              <th>DOB</th>
              <th>Gender</th>
              <th>Height</th>
              <th>Weight</th>
              <th>BMI</th>
              <th>View</th>
              <th>Add Health Record</th>
            </tr>
          </thead>
          <tbody>
            <!-- Start: Duplicate Table Row -->
            {% for student in student_list %}
            <tr>
              <td>{{student.first_name}}</td>
              <td>{{student.last_name}}</td>
              <td>{{student.gr_no}}</td>
              <td>{{student.dob}}</td>
              <td>{{student.gender}}</td>
              <td>{{student.current_height}}</td>
              <td>{{student.current_weight}}</td>
              {% if student.bmi > 0 and student.bmi < 18.5 %} <td style="color: red;">

                {% elif student.bmi >= 18.5 and student.bmi < 24.9 %} <td style="color: green;">
                  {% else %}
                  <td style="color: orange;">
                    {% endif %}
                    {{student.bmi|floatformat:2}}
                  </td>

                  <td style="text-align: center;">
                    <a class="btn btn-info" role="button" href="{% url 'schools:student_detail' pk=student.pk %}">
                      <span class="text-white-50 icon">
                        <i class="far fa-edit"></i>
                      </span>
                      <span class="text-white text">View</span>
                    </a>
                  </td>
                  <td style="text-align: center;">
                    <a class="btn btn-danger" role="button"
                      href="{% url 'schools:add_health_record' studentpk=student.pk %}">
                      <span class="text-white-50 icon">
                        <i class="far fa-edit"></i>
                      </span>
                      <span class="text-white text">Add</span>
                    </a>
                  </td>
            </tr>
            {% endfor %}
            <!-- End: Duplicate Table Row -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



{% endblock content %}

{% block extrascript %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
<script>
  $(document).ready(function () {
    $('#student-table').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });
</script>
{% endblock extrascript %}