{% extends "schools/base.html" %}

{% block extrastyle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">

{% endblock extrastyle %}

{% block content %}




<div class="container">

    <!-- <p>
        <a name="" id="" class="btn btn-primary" href="{% url 'schools:todays_meal' %}" role="button">
            Add Meal
        </a>
    </p> -->
    <div class="card shadow-lg">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-sm table-striped" width="100%" id="student-table">
                    <thead>
                        <tr style="text-align: center;">
                            <th>Meal</th>
                            <th>Date</th>
                            <th>Calories</th>
                            <th>Proteins</th>
                            
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Start: Duplicate Table Row -->
                        {% for meal in meal_list %}
                        <tr>
                            <td>{{meal.name}}</td>
                            <td>{{meal.date}}</td>
                            <td>{{meal.calories}}</td>
                            <td>{{meal.proteins}}</td>
                            
                            <td style="text-align: center;">
                                <a class="btn btn-success" role="button"
                                    href="{% url 'schools:meal_detail' pk=meal.pk %}">
                                    <span class="text-white-50 icon">
                                        <i class="far fa-edit"></i>
                                    </span>
                                    <span class="text-white text">Detail</span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- End: Duplicate Table Row -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



{% endblock content %}

{% block extrascript %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#student-table').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
{% endblock extrascript %}