{% extends 'schools/base.html' %} {% block title %}Profile{% endblock title %} {% block content %} {% load static %}
<div class="container-fluid">
  <h3 class="text-dark mb-4">Profile</h3>
  <div class="row mb-3">
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-body text-center shadow" style="padding: 61px">
          <img class="rounded-circle mb-3 mt-4" src="{{user.schools.profile_pic.url}}" width="160" height="160"
            loading="auto" />
          <div class="mb-3">
            <a class="btn btn-primary btn-sm" href="{% url 'schools:update_profile_pic' %}" role="button">Change Photo</a>
          </div>
        </div>
      </div>
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="text-primary fw-bold m-0">Students Taking Meals</h6>
        </div>
        <div class="card-body">
          <h4 class="small fw-bold">
            Pre Primary<span class="float-end">60%</span>
          </h4>
          <div class="progress progress-sm mb-3">
            <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
              style="width: 60%">
              <span class="visually-hidden">60%</span>
            </div>
          </div>
          <h4 class="small fw-bold">
            Lower Primary<span class="float-end">20%</span>
          </h4>
          <div class="progress progress-sm mb-3">
            <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
              style="width: 20%">
              <span class="visually-hidden">20%</span>
            </div>
          </div>
          <h4 class="small fw-bold">
            Upper Primary<span class="float-end">40%</span>
          </h4>
          <div class="progress progress-sm mb-3">
            <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
              style="width: 40%">
              <span class="visually-hidden">40%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="row mb-3 d-none">
        <div class="col">
          <div class="card textwhite bg-primary text-white shadow">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col">
                  <p class="m-0">Peformance</p>
                  <p class="m-0"><strong>65.2%</strong></p>
                </div>
                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
              </div>
              <p class="text-white-50 small m-0">
                <i class="fas fa-arrow-up"></i>&nbsp;5% since last month
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card textwhite bg-success text-white shadow">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col">
                  <p class="m-0">Peformance</p>
                  <p class="m-0"><strong>65.2%</strong></p>
                </div>
                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
              </div>
              <p class="text-white-50 small m-0">
                <i class="fas fa-arrow-up"></i>&nbsp;5% since last month
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card shadow mb-3">
            <div class="card-header py-3">
              <p class="text-primary m-0 fw-bold">User Settings</p>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <label class="form-label" for="first_name"><strong>School Name</strong></label><input
                        class="form-control" type="text" id="first_name" placeholder="{{user.schools.name}}"
                        name="first_name" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <label class="form-label" for="username"><strong>Username</strong></label><input
                        class="form-control" type="text" id="username" placeholder="{{user.username}}" name="username"
                        disabled="" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <label class="form-label" for="email"><strong>Email Address</strong></label><input
                        class="form-control" type="email" id="email" placeholder="{{user.email}}" name="email" />
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <button class="btn btn-primary btn-sm" type="submit">
                    Save Settings
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="card shadow">
            <div class="card-header py-3">
              <p class="text-primary m-0 fw-bold">Contact Settings</p>
            </div>
            <div class="card-body">
              <form>
                <div class="mb-3">
                  <label class="form-label" for="address"><strong>Address Line 1</strong></label><input
                    class="form-control" type="text" id="address" placeholder="{{user.schools.address_line1}}"
                    name="address" />
                </div>
                <div class="mb-3">
                  <label class="form-label" for="address"><strong>AddressLine 2</strong></label><input
                    class="form-control" type="text" id="address-1" placeholder="{{user.schools.address_line2}}"
                    name="address" />
                </div>
                <div class="mb-3">
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label class="form-label" for="city"><strong>District</strong></label><input
                          class="form-control" type="text" id="city-1" placeholder="{{user.schools.district}}"
                          name="city" />
                      </div>
                    </div>
                    <div class="col">
                      <div class="mb-3">
                        <label class="form-label" for="country"><strong>State</strong></label><input
                          class="form-control" type="text" id="country-1" placeholder="Maharashtra" name="country" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <label class="form-label" for="city"><strong>Pincode</strong></label><input class="form-control"
                        type="text" id="city-2" placeholder="410216" name="city" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <label class="form-label" for="country"><strong>Country</strong></label><input
                        class="form-control" type="text" id="country-2" placeholder="India" name="country"
                        disabled="" />
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <button class="btn btn-primary btn-sm" type="submit">
                    Save&nbsp;Settings
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}