{% extends 'schools/base.html' %} {% block title %} Meal Details {% endblock title%} {% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <div>
        <form method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            <!-- Start: Registration Form -->
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">
                                        Upload Mid-Day Meal Details
                                    </h4>
                                    <hr />
                                </div>
                                <form method="POST" enctype="multipart/form-data">

                                    {% load formcss %}
                                    {% csrf_token %}
                                    {{ form.non_field_errors }}
                                    {% for field in form %}
                                    <p>
                                    <div class="form-group">
                                        <label for="{{field.id_for_label}}">{{ field.label }}
                                            {% if field.field.required %}
                                            <span style="color: red ;">*</span>
                                            {% endif %}
                                        </label>

                                        {% if temp_meal_pic %}
                                        {{ field|addclassdisabled:"form-control" }}
                                        {% else %}
                                        {{ field|addclass:"form-control" }}
                                        {% endif %}

                                        {% if field.errors %}
                                        <div class="alert alert-danger alert-sm form_alert">{{ field.errors }}</div>
                                        {% endif %}
                                        <small id="helpId" class="text-muted">{{ field.help_text }}</small>
                                    </div>
                                    </p>
                                    {% endfor %}

                                    {% if not temp_meal_pic %}

                                    <input type="hidden" id="latitude" name="latitude" value="0">
                                    <input type="hidden" id="longitude" name="longitude" value="0">

                                    {% endif %}




                                    {% if temp_meal_pic %}

                                    <input type="hidden" name="mealimage_id" value="{{temp_meal_pic.pk}}">

                                    <img src="{{temp_meal_pic.meal_pic.url}}" name="meal_pic"
                                        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                                        alt="{{temp_meal_pic.meal_pic.url}}">

                                    <button formaction="{{next_action_url}}"
                                        class="btn btn-primary d-block btn-user w-100" type="submit">
                                        Upload Meal
                                    </button>

                                    {% else %}
                                    <button formaction="{{next_action_url}}"
                                        class="btn btn-success d-block btn-user w-100" type="submit">
                                        Upload Photo
                                    </button>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Registration Form -->
        </form>
    </div>
    <div></div>
</div>
{% endblock content %}

{% block extrascript %}


{% if not temp_meal_pic %}

<script>
    function showPosition(position) {
        lat.value = position.coords.latitude;
        lon.value = position.coords.longitude;
       }
       
    var lat = document.getElementById("latitude");
    var lon = document.getElementById("longitude");

    console.log(navigator.geolocation.getCurrentPosition(showPosition));



</script>

{% endif %}



{% endblock extrascript %}